/* Typography */
body {
    background-color: #3B270C;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Structure */
h1 {
    color:#d8cbc4;
}

a {
    color:white;
}

a:hover {
    color:white;
}

#mainpage h1,
h2 {
    text-align:center;
}

#assign {
    color: #bca895;
}

#descr {
    color: white;
}

#name {
    color:white;
    text-align:start;
}

.format {
    background-color: #bca895;
    width: 100%;
    padding: 5px 20px;
    margin: 20px;
    flex: 1;
    text-align: center;
}




/* Larger Resolutions */
@media (min-width: 600px) {
    
    .flex-container {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
      
    }
}
